:root{
    --other-font: 'Sacramento', cursive;
    --pri-font: 'Aboreto';
    --sec-font: 'Gotu';

    --dark-purple: #3E206D;
    --neutral-purple: #916DD5;
    --pinkish-purple: #D89CF6;
    --light-purple: #F0E3FF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}